
/*  ##############################################
    ### TEMPLATE COLORS ###

    dark purple - rgb(51, 37, 50)
    purple brown- rgb(100, 77, 82)
    happy orange - rgb(247, 122, 82)
    orange orange - rgb(255, 151, 79)
    grey - rgb(164, 154, 135)
    ##############################################
*/

/*  ###############  */
/*  ### GENERAL ###  */
/*  ###############  */

.section-title {
    color: rgb(51, 37, 50);
}


.body-bg {
    background: rgb(51, 37, 50);
}

/*  ##############  */
/*  ### HEADER ###  */
/*  ##############  */


.header {
    background: rgb(51, 37, 50);
}

.header-title {
    color: rgb(247, 122, 82);
}

.menu {
    background: rgb(247, 122, 82);
    color: rgb(51, 37, 50);
}

.menu-links li a{
    color: rgb(51, 37, 50);
}

/*  ##############  */
/*  ### FOOTER ###  */
/*  ##############  */

.footer {
    background: rgb(51, 37, 50);
    background: url("../resources/images/New_New_York_Cityscape.jpg");
    background-position: bottom;
}

.footer-title {
    color: rgb(247, 122, 82);
}

/*  ##############################  */
/*  ### MAIN - MEET THE BENDER ###  */
/*  ##############################  */

.meet {
    background: rgb(255, 151, 79);
}

.intro-container {
    border: 2px rgb(51, 37, 50) dashed;
}

.intro-text {
    background: rgba(51, 37, 50, 0.2);
}

/*  ############################  */
/*  ### MAIN - DO THE BENDER ###  */
/*  ############################  */

.do {
    background: rgb(247, 122, 82);
}

.services-container {
    border: 2px dashed rgb(51, 37, 50);
}


/*  ##############################  */
/*  ### MAIN - BOOK THE BENDER ###  */
/*  ##############################  */

.book {
    background: rgb(100, 77, 82);
    color: rgb(247, 122, 82);
}

.book > h2 {
    color: rgb(247, 122, 82);
}

.packages {

}

/*  #################################  */
/*  ### MAIN - CONTACT THE BENDER ###  */
/*  #################################  */

.contact {
    background: rgb(164, 154, 135);
}

.form-inner-container {
    background: rgba(100, 77, 82, 0.5);
    border: 2px dashed rgb(100, 77, 82);
}

.form-inner-container label {
    border-bottom: 2px dashed rgb(51, 37, 50);
    color: rgb(51, 37, 50);
}

.form-inner-container label:last-child {
    border: none;
}

.form-inner-container label select,
.form-inner-container label textarea,
.form-inner-container label input {
    background: rgba(247, 122, 82, 0.6);
    color: rgb(51, 37, 50);
}

.button-submit {
    background-color: rgba(247, 122, 82, 0.8);
    color: rgb(51, 37, 50);
}

/*  ######################################  */
/*  ### color input placeholder values ###  */
/*  ######################################  */

::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgba(51, 37, 50, 0.5);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(51, 37, 50, 0.5);
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(51, 37, 50, 0.5);
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgba(51, 37, 50, 0.5);
}