
<div>
    <!-- SHOP -->
    <div>
        {{> shop }}
    </div>
    <!-- PAGINATION -->
    <div>
        {{> pagination}}
    </div>
    <!--  CART -->
    <div>
        {{> cart}}
    </div>

</div>