
<div class="positionPaging" id="shopPagination">
    <label for="itemsPerPage">
        Items per Page
        <input type="number" id="itemsPerPage" min="0" value="{{productsPerPage}}"/>
    </label>
    <ul id="shopPagination" class="table-pagination">
        {{#each pagesButtonArray}}
            <li id="{{@index}}">
                {{this}}
            </li>
        {{/each}}
    </ul>
</div>