
/*  ###################################  */
/*  ###         BODY FIX            ###  */
/*  ### push content off the header ###  */
/*  ###################################  */

.body-bg {
    padding-top: 100px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* ### HEADER ### */


.header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.header h1 {
    margin: 30px 15%;
    display: inline-block;
}

@media only screen and (max-width: 1050px) {
    .header h1 {
        margin: 30px 0;
        display: block;
    }
}

.section-title {
    margin: 25px;
}

.footer-title {
    padding: 50px 0;
}

.section-padding {
    padding: 10px;
    margin: 15px 0;
}

.section-content-width {
    max-width: 70%;
}

@media only screen and (max-width: 1090px) {
    .section-content-width {
        max-width: 90%;
    }
}
.section-padding:first-child {
    margin-top: 0;
}

/*  #####################  */
/*  ### HEADER - MENU ###  */
/*  #####################  */

.menu {
    height: 30px;
    width: 100px;
    position: absolute;
    left: 50px;
    bottom: 4px;
    text-align: center;
}

.show-menu {
    display: inline-block;
    line-height: 30px;
}

.menu-links {
    max-width: 420px;
    position: relative;
    left: 50px;
    opacity: 0;
    height: 0;
    /*top: 30px;*/
    transition: all 1.5s ease-in-out;
}

.nav-menu {
    position: relative;
    bottom: 27px;
}

.nav-menu ul li {
    display: inline-block;
    width: 100px;
    line-height: 30px;
}

.show-menu:hover + ul,
.menu-links:hover {
    top: 30px;
    opacity: 1;
    height: 30px;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}