

/*  #####################  */
/*  ### HEADER - MENU ###  */
/*  #####################  */

.menu {
    height: 30px;
    width: 100px;
    position: absolute;
    left: 50px;
    bottom: 4px;
    text-align: center;
}

.show-menu {
    display: inline-block;
    line-height: 30px;
}

.menu-links {
    max-width: 420px;
    position: relative;
    left: 50px;
    opacity: 0;
    height: 0;
    /*top: 30px;*/
    transition: all 1.5s ease-in-out;
}

.nav-menu {
    position: relative;
    bottom: 27px;
}

.nav-menu ul li {
    display: inline-block;
    width: 100px;
    line-height: 30px;
}

.show-menu:hover + ul,
.menu-links:hover {
    top: 30px;
    opacity: 1;
    height: 30px;
}

/*  ##########################  */
/*  ### MAIN - MEET BENDER ###  */
/*  ##########################  */

.meet {

}

.intro-container {
    box-sizing: border-box;
    max-width: 70%;
    margin: 10px auto;
    padding: 10px;
}

.intro-text {
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.intro-container figure {
    width: 25%;
    float: right;
    margin: 5px;
}

.intro-container figure img {
    max-width: 100%;
}

.intro-container figure figcaption {
    text-align: center;
}

.intro-text div {
    overflow: auto;
}

/*  ############################  */
/*  ### MAIN - DO THE BENDER ###  */
/*  ############################  */

.do {
    text-align: center;
}

.cheating {
    content: "";
    display: block;
    height: 100px; /* fixed header height*/
    margin: -100px 0 0 0; /* negative fixed header height */
    visibility: hidden;
}

.services-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 10px 0;
}

.service {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

figure.service {
    margin: 5px;
}

figure.service img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.booze {
    display: inline-block;
    width: 220px;
    height: 220px;
    background: url("../resources/images/bender-booze.png");
    border-radius: 50%;
    background-position-x: 40px;
    overflow: hidden;
}

.ribbon {
    padding: 15px;
    color: rgb(247, 122, 82);
    background: rgb(51, 37, 50);
    text-align: center;
    position: relative;
    top: 64%;
}

.bets {
    display: inline-block;
    width: 220px;
    height: 220px;
    background: url("../resources/images/bender-bets.png");
    border-radius: 50%;
    background-position-y: -45px;
    overflow: hidden;

}

.bots {
    display: inline-block;
    width: 220px;
    height: 220px;
    background: url("../resources/images/bender-bots.png");
    border-radius: 50%;
    background-position-y: -45px;
    overflow: hidden;
}

/*  ##############################  */
/*  ### MAIN - BOOK THE BENDER ###  */
/*  ##############################  */

.book {
    text-align: center;
}

.packages {
    max-width: 70%;
    height: 400px;
    padding: 5px;
    margin: 10px auto;
    border: 2px dashed rgb(247, 122, 82);

}

.packages > div {
    display: inline-block;
    vertical-align: top;
}

.enterprise-container {
    width: 55%;
    height: 100%;
    padding: 0 10px 0 0;
    /*max-width: 500px;*/
}

.enterprise-container img {
    width: 100%;
    height: 100%;
    /*max-width: 500px;*/
}

.single-or-group {
    margin-left: -4px;
    width: 40%;
    height: 100%;
    /*overflow: hidden;*/

}

.single-or-group > img {
    float: left;
    /*display: inline-block;*/
    max-height: 400px;
    background-position-x: ;
}

.single {
    display: inline-block;
    height: 50%;
    margin-left: 5px;
}

.group {
    display: inline-block;
    height: 50%;
    border-bottom: 2px dashed rgb(247, 122, 82);
}

.group > img {
    /*float: left;*/
}

/*  #################################  */
/*  ### MAIN - CONTACT THE BENDER ###  */
/*  #################################  */

.contact {

}

.form-inner-container {
    margin: 0 auto;
    width: 50%;
    padding: 15px;
}

.form-inner-container label {
    display: block;
    padding: 10px 10px;
    margin: 5px;
}

.form-inner-container label span {
    /*vertical-align: middle;*/
    float: left;
    display: inline-block;
    width: 40%;
}

.form-inner-container label select,
.form-inner-container label textarea,
.form-inner-container label input {
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: 0;
    display: inline-block;
    width: 60%;
    border: none;
    padding: 5px 5px;
    margin: 0;
    resize: none;
    height: 3rem;
    float: left;
}

.form-inner-container label input[type='color'] {
    padding: 1px 1px;
}

.submit {
    margin: 10px 10px;
}

.submit:hover button::before {
    content: "\2799";
    margin: 0 5px;
    font-size: large;
}

.button-submit {
    width: 210px;
    height: 45px;
    margin: 10px 5px 0 0;
    float: right;
    line-height: 50px;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    text-align: right;
    padding: 0 15px 0 0;
}

/*  ##############  */
/*  ### FOOTER ###  */
/*  ##############  */

.footer {
    height: 200px;
}