
/*  !!! HEADER - RIBBON !!!  */

.header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
}

.header h1 {
    margin: 30px 300px;
}

/* ========================================================= */

/*  !!! MAIN !!!  */

/*  !!! MEET THE BENDER !!!  */

/*  !!! DO THE BENDER !!!  */
.do {
    height: 500px;
    text-align: center;
}

/*  !!! BOOK THE BENDER !!!  */
.book {
    height: 500px;
    text-align: center;
}

/*  !!! CONTACT THE BENDER !!!  */
.contact {
    height: 500px;
    text-align: center;
}

/*  !!! FOOTER !!!  */
.footer {
    height: 200px;
    text-align: center;
}

