
/*

    ###  COLORS  ###
    darkblue: rgb(34, 83, 120)
    mediumblue: rgb(22, 149, 163)
    lightblue: rgb(172, 240, 242)
    paleblue: rgb(243, 255, 226)
    orange: rgb(235, 127, 0)

*/

.body-background {
    background: rgb(34, 83, 120);
}

.page-title {
    color: rgb(34, 83, 120);
}

.main-background {
    background: rgb(172, 240, 242);
}

/*  TABLE  */

.table-header > div {
    background: rgb(34, 83, 120);
    color: rgb(243, 255, 226);
}

.table-row:nth-child(even) {
    background: rgb(172, 240, 242);
    color: rgb(34, 83, 120);
}

.table-row:nth-child(odd) {
    background: rgb(243, 255, 226);
    color: rgb(34, 83, 120);
}

