/*

    ###  COLORS  ###
    darkblue: rgb(34, 83, 120)
    mediumblue: rgb(22, 149, 163)
    lightblue: rgb(172, 240, 242)
    paleblue: rgb(243, 255, 226)
    orange: rgb(235, 127, 0)

*/

main {
    margin: 0 auto;
    width: 900px;
}

.page-title {
    text-align: center;
}

/*  TABLE  */

.table-container {
    display: table;
}

.table-header {
    display: table-row;
    font-weight: bold;
}

.table-row {
    display: table-row;
}

.cell {
    text-align: center;
    display: table-cell;
    border: solid;
    border-width: thin;
    padding: 5px;
    vertical-align: middle;
}

.thumbnail-image {
    min-width: 143px;
    min-height: 143px
}

.tablePagination {
    float: right;
    margin: 5px;
}

.tablePagination li {
    display: inline-block;
    width: 50px;
    line-height: 50px;
    text-align: center;
}

.positionPaging {
    margin: 0 auto;
}

.addToCartButton {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial, sans-serif;
    color: rgb(235, 127, 0);
    font-size: 16px;
    background: rgb(34, 83, 120);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.addToCartButton:hover {
    background: #EB7F00;
    color: rgb(34, 83, 120);
    text-decoration: none;
}

.addToCartButton:active,
.addToCartButton:focus,
.addToCartButton.active {
    background-image: none;
    /*outline: 0;*/
    -webkit-box-shadow: none;
    box-shadow: none;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.cart {
    display: table;
}